.taskItem + .taskItem { margin-top: .75rem; }

.taskItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.taskItem.is__checked .ti__checkbox {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.taskItem.is__checked .ti__content {
  text-decoration-color: auto;
  text-decoration: line-through;
  color: var(--gray-300);
}

.ti__hiddenCheckbox {
  visibility: hidden;
  width: 0;
  height: 0;
}

.ti__checkbox {
  position: relative;

  display: block;
  min-width: 22px;
  min-height: 22px;

  margin-right: 1rem; 
  border: 2px solid var(--blue);
  border-radius: 50%;

  cursor: pointer;

  transition-property: background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}

.tic__check {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;

  color: var(--white);

  transform: translate3d(-50%, -50%, 0);
}

.ti__content {
  width: 100%;

  text-decoration-color: transparent;

  transition-property: color, text-decoration;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}

.ti__delete {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  
  color: var(--gray-300);

  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}

.ti__delete:hover {
  color: var(--red-500)
}