:root {
  /** Color palette **/
  --white: #fff;
  --black: #000;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple: #8284fa;
  --purple-dark: #5e60ce;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;

  --red-500: #e25858;

  /** Typography **/
  --font: 'Inter', sans-serif;
  
  --regular: 400;
  --bold: 700;
  --black: 900;

  --fsz-small: .75rem;
  --fsz-medium: .875rem;
  --fsz-default: 1rem;

  --lh-medium: 1.4rem;
  
  /** Toastify **/
  --toastify-color-progress-dark: var(--purple);
  --toastify-color-progress-info: var(--blue)
}

:focus {
  outline: transparent;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);

  -webkit-font-smoothing: antialiased;
  color: var(--gray-100);
}

body, input, textarea, button {
  font-size: var(--fsz-default);
  font-weight: var(--regular);
  font-family: var(--font);
}

img { max-width: 100%; }

button { cursor: pointer; }